@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@import 'components/reset';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

@import './../../node_modules/bulma/sass/utilities/initial-variables';
@import './../../node_modules/bulma/sass/utilities/variables';
@import './../../node_modules/bulma/sass/utilities/mixins';
@import './../../node_modules/bulma/sass/grid/all'; /* import bulma grid */
@import './../../node_modules/bulma/sass/elements/container';
@import 'components/colors';
@import 'components/margins';
@import 'components/resolutions';
@import 'components/header';
@import 'components/nav';
@import 'components/content';
@import 'components/inner_content';
@import 'components/form';
@import 'components/form_field';
@import 'components/button';
@import 'components/flash';
@import 'components/footer';
@import 'components/grid';
@import 'components/modal';

body {
  color: $font;
  font-size: 100%;
  font-family: 'Roboto', serif;
  font-weight: 300;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', serif; font-weight: 500; }
h1, h2 { line-height: 1.1; }
h3, h4 { line-height: 1.3; }
h1 { font-size: 400%; letter-spacing: -2px; }
h2 { font-size: 250%; letter-spacing: -1px; }
h3 { font-size: 200%; }
h4 { font-size: 180%; }
h5 { font-size: 130%; }

.fixed { font-family: 'Roboto', serif; font-size: 14px; line-height: 1.1; }

.quiet { font-color: #CDCDCD; }
.loud  { font-color: $primary; }

.italic { font-style: italic; }
.bold   { font-weight: 700; @extend .loud; }

.block-margins { margin: 1em 0; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}
.right-align {
  text-align: right;
  padding-right: 0;
  margin-right: 0;
}

.logo {
  position: absolute;
  top: 5%;
  left: 5%;
}
.hero {
  background-color: #ef869c;
  background-image: url('/images/hero-bg.png');
  background-size: cover;
  color: #2B2B2B;

  p {
    margin-top: 25%;
    font-size: 1.4em;
  }

  .button--primary {
    background-color: #18d3a2;
    text-align: center;
    color: #2B2B2B;
    border: 1px solid #9ad1bf;
    margin: 10px 0;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 1.2;
    width: auto;
  }
}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}

.inline--button {
  .input__field, .inline__button {
    display: inline-block;
  }
  .input__field {
    width: 40%;
    margin-right: 10px;
  }
  .inline__button {
    width: 15%;
    background-color: #18d3a2;
    text-align: center;
    color: #2B2B2B;
    border: 1px solid #9ad1bf;
    font-weight: 500;
    line-height: 1.2;
  }
}

.green {
  color: #18d3a2;
}

em {
  color: #CDCDCD;
}
.interesse {
  background-color: #FFF;
  color: #2D2D2D;
  padding: 5% 0;

  h2 {
    font-weight: 300;
    margin-bottom: 15px;
  }
  p {
    font-size: 1.2em;
  }
  img {
    margin: 8% 0;
  }
}
.feature {
  background-color: #FFF;
  color: #2D2D2D;
  padding: 5% 0;

  &.feature-bg {
    background-image: url('/images/feature-2-bg.png');
    background-size: cover;
    padding: 5% 0 0 0;

    img {
      margin: 8% 0 0 0;
      vertical-align: bottom;
    }
  }

  h2 {
    margin-top: 25%;
    font-weight: 300;
    margin-bottom: 15px;
  }
  p {
    font-size: 1.2em;
  }
  img {
    margin: 8% 0;
  }
}

.preview {
  color: #2D2D2D;

  h2 {
    margin-top: 10%;
  }
}

.show-edit-on-hover {

  .edit {
    display: none;
    float: right;
  }

  &:hover {
    .edit {
      display: block;
    }
  }
}

.show-block-remove-on-hover {

  .remove {
    display: none;
    float: right;
  }

  &:hover {
    .remove {
      display: block;
    }
  }
}
