@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@import 'components/reset';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

@import './../../node_modules/bulma/sass/utilities/initial-variables';
@import './../../node_modules/bulma/sass/utilities/variables';
@import './../../node_modules/bulma/sass/utilities/mixins';
@import './../../node_modules/bulma/sass/grid/all'; /* import bulma grid */
@import './../../node_modules/bulma/sass/elements/container';
@import 'components/colors';
@import 'components/margins';
@import 'components/resolutions';
@import 'components/header';
@import 'components/nav';
@import 'components/content';
@import 'components/inner_content';
@import 'components/form';
@import 'components/form_field';
@import 'components/button';
@import 'components/flash';
@import 'components/footer';
@import 'components/grid';
@import 'components/modal';

body {
  color: $font;
  font-size: 100%;
  font-family: Helvetica, serif;
  font-weight: 300;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 { font-family: Helvetica, serif; font-weight: bold; }
h1, h2 { line-height: 1.1; }
h3, h4 { line-height: 1.3; }
h1 { font-size: 400%; letter-spacing: -2px; }
h2 { font-size: 250%; letter-spacing: -1px; }
h3 { font-size: 200%; }
h4 { font-size: 180%; }
h5 { font-size: 130%; }

.fixed { font-family: Helvetica, serif; font-size: 14px; line-height: 1.1; }

.quiet { font-color: #CDCDCD; }
.loud  { font-color: $primary; }

.italic { font-style: italic; }
.bold   { font-weight: 700; @extend .loud; }

.block-margins { margin: 1em 0; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}
.right-align {
  text-align: right;
  padding-right: 0;
  margin-right: 0;
}

.logo {
  position: absolute;
  top: 5%;
  left: 1%;
  width: 151px;
  height: 59px;
}
.hero {
  background-color: #ef869c;
  background-image: url('/images/hero-bg.png');
  background-size: cover;
  color: #2B2B2B;
  text-align: left;

  p {
    margin-top: 25%;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    text-align: left;
    color: #ffffff;
  }

  .button--primary {
    width: 231px;
    height: 59px;
    border-radius: 4px;
    background-color: #3fd3a2;
    border: solid 1px #ffffff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    margin: 20px 0;
  }

  .column-5.align-center {
    text-align: center;
    vertical-align: bottom;

    img {
      width: 274px;
      height: 494px;
      background: none;
    }
  }
}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}

.inline--button {
  .input__field, .inline__button {
    display: inline-block;
  }
  .input__field {
    width: 40%;
    margin-right: 10px;
  }
  .inline__button {
    width: 167px;
    height: 59px;
    border-radius: 4px;
    background-color: #3fd3a2;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: center;
    line-height: 1.2;
  }
}

.green {
  color: #FFF;
  border-radius: 4px;
  background-color: #3fd3a2;
  font-size: 18px;
  line-height: 1.44;
  text-align: left!important;
  padding: 15px 0 13px 72px;
  background-image: url('/images/done-check@2.png');
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: 19px 11px;
  opacity: 0;
  display: none;
  margin: 0.8rem 0;
  transition: all 2s linear;

  &.show {
    display: block;
    opacity: 1;
  }
}

em {
  color: #CDCDCD;
}
.interesse {
  background-color: #FFF;
  color: #333;
  padding: 5% 0;

  .form__placeholder {
    opacity: 1;
    display: block;
    transition: all 2s linear;

    &.hidden {
      display: none;
      opacity: 0;
    }
  }

  h2 {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.04
  }
  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.44;
  }
  img {
    margin: 8% 0;
  }
}
.feature {
  background-color: #FFF;
  color: #333333;
  padding: 5% 0;

  &.feature-bg {
    background-image: url('/images/feature-2-bg.png');
    background-size: cover;
    padding: 3% 0 0 0;

    color: #FFF;

    img {
      vertical-align: bottom;
      margin: 0 0 0 0;
      width: 274px;
    }
    h2 {
      margin-top: 100px;
    }
  }

  h2 {
    margin-top: 25%;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.12;
    width: 260px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    text-align: left;
    width: 305px;

  }
  img {
    margin: 8% 0;
    width: 500px;
  }
}

.preview {
  color: #2D2D2D;

  h2 {
    margin-top: 10%;
  }
}

.show-edit-on-hover {

  .edit {
    display: none;
    float: right;
  }

  &:hover {
    .edit {
      display: block;
    }
  }
}

.show-block-remove-on-hover {

  .remove {
    display: none;
    float: right;
  }

  &:hover {
    .remove {
      display: block;
    }
  }
}
