doctype html
html
  head
    title= `${title} | ${h.siteName}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(type="text/javascript" src="/js/index.js")
    link(rel="stylesheet" type="text/css" src="css/style.css")
  body
    block header
      .container
        header.header
          nav.nav

    block hero

    block content

    block alternate

    .footer
      block footer
        .container
          p.footer__copy &copy; 2018 #{h.siteName}. All rights reserved.
    block scripts
      script(src="/js/bundle.js")
      link(rel='stylesheet', href='/css/style.css')
