$white: #FFF;
$background: #FFF;
$background_hero: #FBF9F8;
$background_alternate: #F4F4F4;
$background_inner_content: #FEFEFE;
$background_button: #E1E8EE;
$background_button_primary: #7DC855;

$border: #E1E8EE;
$border_form: $border;
$border_header: $border;

$font: #5E6977;
$font_alternate: #86939E;
$font_link: #358ED7;
$font_button: #5E6977;
$font_button_primary: #FFF;

$nav_inactive: #86939E;
$nav_active: #43484D;